.root {
  /* background-color: beige; */
  margin: 50px 0;
  height: 2000px;
}

.content {
  background-color: darkolivegreen;
  position: -webkit-sticky;
  position: sticky;
  margin: 0 auto;
  height: 300px;
  width: 400px;
  top: 25%;
  bottom: 25%;
  z-index: -1;
}

.overlay {
  justify-content: center;
  align-items: center;
  background-color: black;
  position: absolute;

  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  display: flex;
}

.window {
  border: 10px solid white;
  background-color: black;
  height: 150px;

  /* two stickeys */
  /* position: sticky;
  top: 25%;
  bottom: 25%; */
}
