.root {
  left: -30vw;
  top: -50vh;
  filter: blur(100px);
  overflow: hidden;
  animation: move 10s ease-in-out infinite;
  width: 500px;
  height: 500px;
}

@keyframes move {
  40% {
    transform: translate(40vw, 0vh);
  }

  80% {
    transform: translate(0vw, 0vh);
  }
}
