.root {
  border-right: 1px solid #d4d4d4;
  background-color: #fefefe;
  flex-direction: column;
  border-radius: 4px;
  opacity: 0.8;
  display: flex;
  height: 100%;
  width: 100%;
}

.operations {
  justify-content: start;
  align-items: center;
  padding: 10px;
  display: flex;
}

.circle {
  border-radius: 50%;
  cursor: pointer;
  margin: 0 8px;
  height: 12px;
  width: 12px;
}

.red {
  background-color: #fc346e;
}

.yellow {
  background-color: #fecf01;
}

.green {
  background-color: #1ccf98;
}

.header {
  margin-left: 8px;
}

.main {
  padding: 30px 10px;
}

.sidebarItem {
  transition: background-color 0.3s;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  margin: 2px 8px;
  cursor: pointer;
  display: flex;
  padding: 10px;
}

.sidebarItem:hover {
  background-color: #96d5fb;
}

.activeItem {
  background-color: #ededed;
}

.icon {
  margin-left: 8px;
  color: #5383e9;
}

.text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #031137;
  margin-left: 8px;
}
