.root {
  background-color: blanchedalmond;
  max-height: 1000px;
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(30, 150px);
}

.content:nth-child(2n) {
  background-color: cadetblue;
  grid-column: span 2;
  grid-row: span 2;
}

.content:nth-child(3n) {
  background-color: aliceblue;
  grid-column: span 1;
  grid-row: span 1;
}
