.root {
  display: flex;
  height: 100vh;
  /* width: 100vw;
  /* display: grid;
  grid-template-columns: minmax(15%, 200px) 1fr; */
}

.leftPane {
  /* height: 100vh; */
  width: 20%;
  top: 0;

  position: sticky;
}

.rightPane {
  width: 100%;
  overflow: auto;
}

.rightWrapper {
  /* can't put the auto here because it will affect 
	the window affect position sticky  */
  /* overflow: auto; */
}
